[submodule "Dependencies/ExecuteCliCommandAsyncProvider"]
	path = Dependencies/ExecuteCliCommandAsyncProvider
	url = ../Utility.ExecuteCliCommandAsyncProvider.git
[submodule "Dependencies/CliExitCodeProvider"]
	path = Dependencies/CliExitCodeProvider
	url = ../Utility.CliExitCodeProvider.git
[submodule "Dependencies/RunCliTaskProvider"]
	path = Dependencies/RunCliTaskProvider
	url = ../Utility.RunCliTaskProvider.git
[submodule "Dependencies/GetJsonDateProvider"]
	path = Dependencies/GetJsonDateProvider
	url = ../Utility.GetJsonDateProvider.git
[submodule "Dependencies/CopyDirectoryAsyncProvider"]
	path = Dependencies/CopyDirectoryAsyncProvider
	url = ../Utility.CopyDirectoryAsyncProvider.git
[submodule "Dependencies/NormalizeLineBreaksProvider"]
	path = Dependencies/NormalizeLineBreaksProvider
	url = ../Utility.NormalizeLineBreaksProvider.git
[submodule "Dependencies/GetGitRepositoryUrlAsyncProvider"]
	path = Dependencies/GetGitRepositoryUrlAsyncProvider
	url = ../Utility.GetGitRepositoryUrlAsyncProvider.git
[submodule "Dependencies/ValueOrError"]
	path = Dependencies/ValueOrError
	url = ../Utility.ValueOrError.git
