[submodule "SpinLockUtil"]
	path = SpinLockUtil
	url = git@github.com:ivanivanyuk1993/Utility.SpinLockUtil.git
[submodule "ShardedQueue"]
	path = ShardedQueue
	url = git@github.com:ivanivanyuk1993/Utility.ShardedQueue.git
[submodule "AsyncReadWriteLock"]
	path = AsyncReadWriteLock
	url = git@github.com:ivanivanyuk1993/Utility.AsyncReadWriteLock.git
[submodule "AsyncReadWriteLock"]
	path = AsyncReadWriteLock
	url = ../Utility.AsyncReadWriteLock.git